### Assignment 1

In [4]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k', '40k']

In [6]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k']

#### 1. What is the length of the salaries list.

In [10]:
len(salaries)

7

#### 2. Retrieve the third salary in the list by using index.

In [12]:
salaries[3]

'60k'

#### 3. Extract the last salary from the list by using a negative index.

In [14]:
salaries[-1]

'40k'

#### 4. Slice the salaries list to get only the middle three salaries.

In [16]:
salaries[2:5]

['50k', '60k', '35k']

#### 5. Add a new salary to the list, ‘100k’ by using append() method.

In [54]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k', '40k']
salaries.append('100k')
print(salaries)

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k']

#### 5. Add a new salary to the list, ‘120k’ without method.

In [60]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k']
salaries = salaries + ['120k']
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k', '120k']

#### 6. Replace the third salary in the list with '55k' and print the updated list.

In [71]:
salaries[2] = '55k'
salaries

['20k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

#### 7. Count how many times '40k' appears in the list.

In [62]:
salaries.count('40k')

2

#### 8. Insert a new salary at the second position.

In [3]:
salaries = ['20k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']
salaries.insert(1, '10k')
salaries

['20k', '10k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

#### 9. Reverse the order of the salaries list with method.

In [19]:
salaries.reverse()
salaries

['120k', '100k', '40k', '89k', '35k', '60k', '55k', '40k', '10k', '20k']

#### 10. Reverse the order of the salaries list without method.

In [23]:
salaries = ['20k', '10k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']
salaries[::-1]

['120k', '100k', '40k', '89k', '35k', '60k', '55k', '40k', '10k', '20k']